/* ========================================================================== */
/*                            VARIABLES DE COULEURS                           */
/* ========================================================================== */

$dominante: #52D28E;

$dark: #181818;
$greyDark: #212121;
$greyMiddle: #696969;
$greyLight: #eeeeee;

$red: #832525;



